@import './_variables'
  
.main 
  display: flex
  flex-direction: column
  min-height: 100vh

.section
  @media (min-width: 1440px)
    margin-top: 102px

.products
  padding: 0 20px
  h1
    color: $primary
    font-size: 24px
    font-weight: 700
  @media (min-width: 1440px)
    padding: 0 180px

.items
  padding: 30px 20px
  @media (min-width: 1440px)
    padding: 0

.bg_blue
  display: flex
  justify-content: space-between
  display: none
  width: 100%
  height: 400px
  background-color: $primary
  img
    margin-top: 220px
    margin-left: 10px
  @media (min-width: 1440px)
    display: block

.bg
  display: none
  width: 100%
  height: 250px
  @media (min-width: 1440px)
    display: block

.items_drop
  @media (min-width: 1440px)
    position: absolute
    margin-top: 340px
    padding: 0 180px
    top: 0

.normal_items
  @media (min-width: 1440px)
    position: absolute
    margin-top: 152px
    padding: 0 180px
    top: 0